

  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 30px auto 0 auto;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #5b9af8d3;
    color: #2b2eff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #5b5df8;
    font-size: 16px;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
    font-size: 16px;
  }
  
  .paginationDisabled a {
    color: rgb(255, 255, 255);
    background-color: rgb(121, 107, 107);
    font-size: 16px;
  }